.additionalArticles {
    margin-top: 20px; 
}

.header {
    font-size: 20px;
    margin-bottom: 10px; 
}

.list {
    display: flex; 
    list-style: none;
    padding: 0; 
}

.item {
    margin-bottom: 5px; 
}

.link {
    color: blue; 
    text-decoration: underline;
    cursor: pointer; 
}

.link:hover {
    color: darkblue; 
}
