.additionalList {
    direction: rtl; 
    list-style: none; 
    padding: 0;
    margin: 0;
}
.additionalHeader{
    direction: rtl; 
}
.linkButton {
    all: unset; 
    color: blue;
    text-decoration: underline; 
    cursor: pointer; 
}

.linkButton:hover {
    color: darkblue; 
}
