.articleList {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  direction: rtl; 
  text-align: right; 
  
}

.articleItem {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.image {
  width: 80%; 
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px; 
  display: block;
  margin-right: 0; 
  margin-left: auto; 
}

.title {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.description {
  margin: 10px 0;
  color: #666;
}

.tags {
  margin-top: 10px;
}

.tagList {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.tagItem {
  list-style: none;
}

.tagLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.readMore {
  display: inline-block;
  margin-top: 10px;
  color: white;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.readMore:hover {
  background-color: #0056b3;
}
